﻿/*Este código foi utilizado para estilizar e padronizar as formatações de texto e imagens das páginas html. */
/* h1,h2 e h3: foram utilizadas para a criação dos títulos e do menu. Possuem variações do tamanho da fonte.  */
h1, h2, h3 {
	color: #CC9B1D;
	font-size: 25px;
	text-align: center;
	font-family: arial;
	margin-right: 12px;
	font-weight: bold;
}

h3 {
	font-size: 20px;
}

h2 {
	font-size: 28px;
}

/*p, li: foram utilizadas para a padronização dos texto no site.
 "li" possui uma classe nomeada "b" para que não ficasse aparecendo um ponto branco atras das imagens do efeito flipping card enquanto elas estão girando.
 "p" possui algumas classes diferentes para determinados lugares do site onde eram necessárias pequenas variações da formatação original. */

p, li {
	color: #FFFFFF;
	font-size: 18px;
	text-align: justify;
	font-family: arial;
	margin-right: 12px;
}

li.b {
	color: #000000;
}

p.cit {
	color: #FFFFFF;
	font-size: 18px;
	text-align: center;
	font-family: arial;
	margin-right: 12px;
}

p.sub {
	color: #CC9B1D;
	font-size: 18px;
	text-align: justify;
	font-family: arial;
	margin-right: 12px;
	font-weight: bold;
}

p.title {
	color: #CC9B1D;
	font-size: 18px;
	text-align: center;
	font-family: arial;
	margin-right: 12px;
	font-weight: bold;
}

/*a: foi utilizada para remover o sublinhado que fica nos links.  */

a:link 
{ 
 text-decoration:none; 
} 

/* "img.el" e "img.dm" : utilizadas para colocar uma margem de distancia entre as imagens dos posteres dos filmes e os textos na pagina "filmes.html" 
	"img.grow": foi utilizada para colocar o efeito de zoom nas imagens da pagina "livros.html"*/

img.el {
    float:left;
    margin:0 20px 10px 0;
}

img.dm {
	float:right;
	margin:0 0 10px 20px;
}


img.grow:hover
{
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}