﻿/*Este código foi utilizado para a criação do efeito flipping card (Quando passar o mouse sobre a imagem, ela irá girar em torno de seu eixo para revelar a descrição) nas imagens da página "olimpianos.html". Nesta página temos as imagens das capas novas e antigas da série Percy Jackson e os Olimpianos e no verso as sinopses dos livros. */
.demo-3 {
    position:relative;
    width:500px;
    height:400px;
    overflow:hidden;
    float:center;
    margin-right:20px
}
.demo-3 figure {
    margin:0;
    padding:0;
    position:relative;
    cursor:pointer;
    margin-left:-50px
}
.demo-3 figure img {
    display:block;
    position:relative;
    z-index:10;
    margin:-15px 0
}
.demo-3 figure figcaption {
    display:block;
    position:absolute;
    z-index:5;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.demo-3 figure h2 {
    font-family:'Arial';
    color:#FFFFFF;
    font-size:18px;
    text-align:left
}
.demo-3 figure p {
    display:block;
    font-family:'Arial';
    font-size:15px;
    line-height:18px;
    margin:0;
    color:#000000;
    text-align:left
}
.demo-3 figure figcaption {
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding:29px 44px;
    background-color:#CC9B1D;
    text-align:center;
    backface-visibility:hidden;
    -webkit-transform:rotateY(-180deg);
    -moz-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.demo-3 figure img {
    backface-visibility:hidden;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.demo-3 figure:hover img,figure.hover img {
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform:rotateY(180deg)
}
.demo-3 figure:hover figcaption,figure.hover figcaption {
    -webkit-transform:rotateY(0);
    -moz-transform:rotateY(0);
    transform:rotateY(0)
}