﻿body {
	margin: 0;
	padding: 0;
}

#mestre {
	height: 100%;
	background-color: #FFFFFF;
}
/* Estilização do menu lateral do site. */
#lateral{
	display:block;
	float: left;
	height: 680px;
	width: 20%;
	background-color: #171A21;
	position: fixed;
}
#teste{
	display:block;
	float: left;
	height: 680px;
	width: 20%;
	background-color: #171A21;
}
/* Estilização da área de conteúdo do site. */
#direita {
	display:block; 
	float: left;
	height: 100%;
	width: 80%;
	background-color: #FFFFFF;
}
/* Estilização do texto que vai no topo de cada página. */
#topo {
	display:block; 
	float: left;
	height: 10%;
	width: 90%;
	background-color: #FFFFFF;
	margin-left: 50px;
	margin-bottom: 0px;
}
/* Estilização da caixa de busca. */
#busca{
    background-color:#D0D0D0;
    border:solid 1px;
    border-radius:5px;
    width:80%;
	height: 25px;
	float:none; 
	display:block; 
	margin-left:auto; 
	margin-right:auto;
}
 
#txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:25px;
    width:80%;
}
/* Classe utilizada para estilizar e padronizar os posters no site. */
.poster {
	display: block;
	float: left;
	width: 10%;
	height: 15%;
	margin-top: 25px;
	margin-left: 50px;
	margin-right: 0px;
	margin-bottom: 50px:
}
/* Classe utilizada para a estilização dos icones das redes sociais. */
.social {
	width: 50px;
	height: 50px;
}
/* Classe para centralizar as imagens e o menu da div "lateral". */
.center {
	float:none; 
	display:block; 
	margin-left:auto; 
	margin-right:auto;
}
/* Classe utilizada para colocar o efeito de crescer nas imagens da div "direita" do site. */
.grow:hover
{
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}
/* Comandos utilizados para remover os marcadores da lista não ordenada utilizada no menu. */
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 80%;
    }
/* Comandos para padronizar as fontes do site. */
li  , hr , h6 , p {
	font-family: Arial;
	font-size: 20px;
	color: #D0D0D0;
	font-weight: bold;
}

p {
	color: #171A21;
	font-size: 25px
}